.receipt{
    margin-top: 2%;
    background-color:white;
    text-align: center;
}

h1 {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 15px;
    font-weight: bolder;
}

.text {
    font-size: 17px;
    margin:2px
}